<div class="stack">
  <div class="newKeg card">
   <h1>Add a new brew</h1>
   <div>
   <label>Name:</label>
   <input #newName placeholder="Drop Top Amber Ale">
  </div>
  <div>
   <label>Brand:</label>
   <input #newBrand placeholder="Widmer Brothers">
  </div>
  <div>
   <label>Price:</label>
   <input #newPrice placeholder="$6.00 per pint" type="number">
  </div>
  <div>
   <label>Alcohol Content:</label>
   <input #newAlcoholContent placeholder="5.3" type="number">
  </div>
  <div>
   <label>Pints Available:</label>
   <input #newPintsRemaining value="124" type="number">
  </div>
    <button class="btn btn-dark" (click)="submitForm(newName.value, newBrand.value, newPrice.value, newAlcoholContent.value, newPintsRemaining.value); newName.value=''; newBrand.value=''; newPrice.value=''; newAlcoholContent.value=''; newPintsRemaining.value='';">Add Keg</button>
   </div>
</div>
